
.color-input {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
   
  } 
  
  
  label {
    display: block;
    margin-left: 589px;
    margin-bottom: 8px;
    color: #a0a0a0;
    font-size: 20px;
    font-weight: bold;
  }
  
  input {
    width: 19%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 589px;
  }
  